<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>Aplicacion</title>
</head>

<body>

    <form class="form-signin" action="/login" method="POST">
        <h2 class="text-warning">Login</h2>
        {% with messages = get_flashed_messages(category_filter=['login']) %}
        {% if messages %}
        <div class="alert alert-warning" role="alert">
            <strong>Información Incorrecta</strong>
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" class="form-control" placeholder="Correo Electrónico" />
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" class="form-control" placeholder="Contraseña" />
        </div>
        <input type="submit" value="Login" class="btn btn-dark text-warning border border-warning" />
    </form>
    <div class="btn-group mr-4">
        <form action="/user">
            <input type="submit" value="Registro" class="btn btn-dark text-info border border-info" />
        </form>
    </div>

</body>

</html>